<?xml version="1.0"?>
<config>
    <modules>
        <Tamedo_Skypeid>
            <version>0.1.0</version>
        </Tamedo_Skypeid>
    </modules>
    <global>
        <helpers>
            <skypeid>
                <class>Tamedo_Skypeid_Helper</class>
            </skypeid>
        </helpers>
        <resources>
            <skypeid_setup>
                <setup>
                    <module>Tamedo_Skypeid</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </skypeid_setup>
            <skypeid_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </skypeid_write>
            <skypeid_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </skypeid_read>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <skypeid>
                    <file>tamedo/skypeid.xml</file>
                </skypeid>
            </updates>
        </layout>
    </frontend>
</config>